body{
    margin:15%;
    

}

p::first-letter{
    text-transform: uppercase;
}


.header, .page_title {
    
    font-family: "Spirax", sans-serif;

}

 .main_ .moving_text, .info {
   
    font-family: "Poiret One", sans-serif;
    font-size: 1.8rem;
}

ul{
    list-style: none;
}